In [1]:
import numpy as np
import pandas as pd
from sklearn.manifold import TSNE
from sklearn import datasets
digits = datasets.load_digits()

X = digits.data[:300]
y = digits.target[:300]
pd.DataFrame(X).head(2)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0

## t-SNE

It is better to do several projections with different PERPLEXITIES, but this is just an example.

In [2]:
tsne = TSNE(n_components=2, perplexity=60, random_state=0)
X_2d_1 = tsne.fit_transform(X)
target_ids = range(len(digits.target_names))
X_2d_1[:2]

array([[ 1.8628763, -7.66042  ],
       [ 6.2796044,  6.369562 ]], dtype=float32)

## How to obtain new features?

#### This would be the new input features. It's just a concatenation.

In [3]:
pd.DataFrame(np.hstack((X, X_2d_1))).head(2)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,1.862876,-7.660420
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,6.279604,6.369562

## What to project?

The dimensionality reduction has to be done for TRAIN AND TEST SET TOGETHER.

## Implementations

- Scikit learn's implementation
- t-SNE library https://github.com/DmitryUlyanov/Multicore-TSNE (this is more efficient) (TODO)